/* lesson-09/shop-project */

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/patt.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 1px solid magenta; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid #fff;
}

.header .logo {
  margin-top: 7px;
}

.menu {
  display: flex;
}

.menu li {
  width: 25%;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu a {
  display: block;
  height: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #2c71b8;
  font-size: 21px;
}

.menu a:hover {
  background-color: #2c71b8;
  color: white;
}

/* Dropdown */
li.dropdown {
  position: relative;
}

li.dropdown > .products-link::after {
  display: inline-block;
  content: url("images/arrow-down_icon-3.png");
  margin-left: 10px;
}

li.dropdown:hover > .products-link::after {
  display: inline-block;
  content: url("images/arrow-down_icon-3-white.png");
}

.dropdown .submenu {
  position: absolute;
  left: -1px;
  background-color: #2b71b7;
  width: calc(200% + 2px);
  padding: 20px 0 20px 0;
  display: none;
}

/* magic */
li.dropdown:hover .submenu {
  display: block;
}

li.dropdown:hover .products-link {
  background-color: #2c71b8;
  color: white;
}

.submenu .submenu-item {
  width: 100%;

  color: white;
}
.submenu .submenu-item a {
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  color: white;
  text-align: left;
  padding-left: 16px;
}

.submenu .submenu-item a:hover {
  background-color: white;
  color: #2c71b8;
}
/* === end of Dropdown */

/* Search form */
.right-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  height: 40px;
  width: 200px;
  border: 1px solid #2b71b7;
  padding: 4px;
  display: flex;
}

.search-form .search-text,
.search-form .search-btn {
  border: none;
  outline: none;
}

.search-form .search-text {
  background: none;
  font-size: 21px;
  width: 100%;
  color: #2b71b7;
  padding-left: 18px;
}

.search-form .search-text::placeholder {
  color: #2b71b7;
}

.search-form .search-btn {
  display: block;
  height: 30px;
  width: 30px;
  background: url("images/search-icon.png") center no-repeat #2b71b7;
  background-size: 50%;
  cursor: pointer;
}
/* === end of Search form */

/* === Cart Snippet === */
.cart-snippet {
  position: relative;
}

.cart-btn {
  width: 40px;
  height: 40px;
  background: url("images/cart-blue-icon.png") center no-repeat #fff;
  cursor: pointer;
}

.cart-count {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  border-radius: 50%;
  color: white;
  background-color: #2b71b7;
  position: absolute;
  top: -10px;
  left: -10px;
}
/* === end of Cart Snippet === */

/* === Slider === */
.slider {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #fff;
}
/* === end of Slider === */

/* ======================== end of Sidebar === */
.sidebar {
  background-color: rgba(255, 255, 255, 0.2);
}
/* ======================== end of Sidebar === */

/* === Central part ======================== */
.center-wrapper {
  /* border: 1px solid red; */
  padding-left: 30px;
}

.center-wrapper .row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.breadcrumbs {
  height: 64px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 64px;
}

.breadcrumbs > .current {
  text-decoration: underline;
  cursor: pointer;
}

.product-list .title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  padding: 0;
}

.product-filter .default,
.product-filter ul.dropdown {
  border: 1px solid #fff;
  background-color: #2c71b8;
  width: 270px;
}

.product-filter ul.dropdown {
  border-top: none;
  display: none;
}

.product-filter:hover ul.dropdown {
  display: block;
  position: absolute;
}

.product-filter .default,
.product-filter ul.dropdown li {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background-color: #2c71b8;
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  cursor: pointer;
}

.product-filter {
  position: relative;
}

.product-filter .default:after {
  content: url("images/arrow-down_icon-3-white.png");
  position: absolute;
  right: 16px;
}

.product-filter ul.dropdown li:hover {
  background-color: #fff;
  color: #2c71b8;
}
/* === end of Central part ================== */
